extends layout
block content
  h3.heading #[strong Category Name:]  #{category.categoryName}
  p #[strong Category Description:] #{category.categoryDescription}
  
  if category.categoryImage.data!=undefined
    p  
      img.category-detail(src='data:image/jpg;base64,'+category.categoryImage.data.toString('base64'))
  span
    a(href=category.url+'/update')   
      button.btn.btn-primary(type='button') Update Category
  span(style='display:inline-block')
    a(href=category.url + '/delete')
      button.btn.btn-primary(type='button') Delete Category
  hr
  h3.detail-heading #[strong Items:]
  div.list
      ol
        for item in category.item
          li
            a(href=item.url) #[h2 #{item.itemName}]
              if item.itemImage.data!=undefined
                img.category-detail-item-list(src='data:image/jpg;base64,'+item.itemImage.data.toString('base64')) 
          hr 
        else
          p NO ITEMS YET!!