extends layout
block content
  h3.heading #[strong Category Name:]  #{category.categoryName}
  p #[strong Category Description:] #{category.categoryDescription}
  
  if category.categoryImage.data!=undefined
    p  
      img.category-detail(src='data:image/jpg;base64,'+category.categoryImage.data.toString('base64'))
  span
    a(href=category.url+'/update')   
      button.btn.btn-primary(type='button') Update Category
  span(style='display:inline-block')
    a(href=category.url + '/delete')
      button.btn.btn-primary(type='button') Delete Category
  h3 #[strong Items:]
  ol
    for item in category.item
      li
        h4 
          a(href=item.url) #[strong #{item.itemName}]
            if item.itemImage.data!=undefined
              p
                img.category-detail-item-list(src='data:image/jpg;base64,'+item.itemImage.data.toString('base64')) 
      //- dd #{item.itemDescription}
      hr 
    else
      p NO ITEMS YET!!