extends layout
block content
  h3.heading #{item.itemName}
  p #[strong Item Description:] #{item.itemDescription}
  p #[strong Item Price:] #{item.itemPrice}
  p #[strong Item Stock:] #{item.itemStock}
  if item.itemImage.data!=undefined
    img(src='data:image/jpg;base64,'+item.itemImage.data.toString('base64'))
  p
    a(href=item.url+'/update')
      button.btn.btn-primary(type='button') Update Item
  p
    a(href=item.url+'/delete')
      button.btn.btn-primary(type='button') Delete Item